<footer class="footer">
    <div class="container">
      <div class="row">
            <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto"> -->
              <div class="footer-widget">
                      <h3 class="mb-4">Doctoral Management System</h3>
                      <h5 class="h1-large">We are not above the nature, we are a part of nature</h5>
                      <p class="p-large">"Green strongly influences the heart and helps alleviate tension. Positive qualities associated with green are generosity, humility, and cooperation. Foods of the green vibration are all green fruits and green vegetables."</p>
                      <p style="font-family:cursive; text-align: right;">- Tae Yun Kim</p>
                    
                    <!-- <div class="">
                        <p class="mb-0"><strong>Location : </strong>Stoke-on-Trent,UK</p>
                        <p><strong>Support Email : </strong> a019023m@student.staffs.ac.uk</p>
                    </div> -->
              </div>
            <!-- </div> -->

            <!-- <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">Opening Hours</h4>
                <ul class="pl-0 list-unstyled mb-5">
                  <li class="d-lg-flex justify-content-between">Monday-Friday <span>8.00-20.00</span></li>
                  <li class="d-lg-flex justify-content-between">Saturday <span>10.00-20.00</span></li>
                  <li class="d-lg-flex justify-content-between">Sunday <span>12.00-20.00</span></li>
                </ul>
  
                <h5>Call Now : 07438867659</h5>
              </div>
            </div> -->
         </div>
    </div>
  </footer>
  
  
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
             <div class="col-lg-12" style="justify-content: center; text-align: center;">
                 <p class="copyright mb-0 ">@ Copyright Reserved to DMS</p>
             </div>
         </div>
    </div>
  </div>