<footer class="footer" style="background-color: #871f0a;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" >
          <h1 style="color: white; font-weight: bold;">CONTACT US</h1>
          <hr style="color: white;">
          <h2 style="color: white;">Faculty of Sciences</h2>
          <p style="color: white;">4 Avenue Ibn Battouta, BP 1014 RP, Rabat</p>
          <p style="color: white;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tel: + 212 (0) 5 37 77 18 34/35/38 </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Fax: + 212 (0) 5 37 77 42 61 </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            E-mail: </font></font><a href="mailto:decanat@fsr.ac.ma"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">decanat@fsr.ac.ma</font></font></a></p>
        </div>
        <div class="col-sm-6" >
          <h1 style="color: white; font-weight: bold;">SOCIAL NETWORKS</h1>
          <hr style="color: white;">
          <h2 style="color: white;">Find all the news from the FSR</h2>
          <p style="color: white;">Follow us on social media</p>
          <h1 style="color: white; font-weight: bold;">FOLLOW US ON</h1>
          <hr style="color: white;">
          <a href="https://www.facebook.com/FSRUM5/" title="Facebook">
            <img src="http://www.fsr.ac.ma/modules/social_media_links/libraries/elegantthemes/PNG/facebook.png" alt="Facebook icon">
          </a>&nbsp;

          <a href="http://www.twitter.com/facdessciences" title="Twitter">
            <img src="http://www.fsr.ac.ma/modules/social_media_links/libraries/elegantthemes/PNG/twitter.png" alt="Twitter icon">
          </a>&nbsp;

          <a href="http://www.instagram.com/facultedessciencesderabat/" title="Instagram">
            <img src="http://www.fsr.ac.ma/modules/social_media_links/libraries/elegantthemes/PNG/instagram.png" alt="Instagram icon">
          </a>&nbsp;

          <a href="http://www.linkedin.com/in/faculté-des-sciences-université-med-v-28b4bb214/" title="LinkedIn">
            <img src="http://www.fsr.ac.ma/modules/social_media_links/libraries/elegantthemes/PNG/linkedin.png" alt="LinkedIn icon">
          </a>&nbsp;

          <a href="http://www.youtube.com/channel/UCU732_OVHeu7Ks3xD4bx9uQ" title="YouTube (Channel)">
            <img src="http://www.fsr.ac.ma/modules/social_media_links/libraries/elegantthemes/PNG/youtube.png" alt="Youtube (Channel) icon">
          </a>&nbsp;

          <a href="http://www.fsr.ac.ma/contact" title="Contact">
          <img src="http://www.fsr.ac.ma/modules/social_media_links/libraries/elegantthemes/PNG/email.png" alt="Contact icon">
        </a>
        </div>
        </div>
    </div>

  </footer>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Copyright 2024 Faculty of Sciences Rabat - All rights reserved
  </div>
  



  
