<footer class="footer">
    <div class="container">
      <div class="row">
            <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto"> -->
              <div class="footer-widget">
                      <h3 class="mb-4">Doctoral School</h3>
                      <!-- <h5 class="h1-large">We are not above the nature, we are a part of nature</h5> -->
                      <p class="p-large">A PhD, or Doctor of Philosophy, is a postgraduate degree conferred by universities. It is the top academic degree available in a field. The completion of a PhD can result in significantly improved career prospects. Students or professionals interested in leadership, academia, consulting, research and entrepreneurship, a PhD degree can offer an advantage or a required qualification. Many universities around the world offer PhD programs. It is common for students to specialize in a field such as Business, Engineering, Natural Sciences, Medicine, Sustainability, Arts, Social Sciences, Humanities, etc. The variety of different PhD programs can be overwhelming - don't let it stop you! Start your search by looking at the most popular PhD degrees listed below.</p>
                      <!-- <p style="font-family:cursive; text-align: right;">- Tae Yun Kim</p> -->
                    
                    <!-- <div class="">
                        <p class="mb-0"><strong>Location : </strong>Stoke-on-Trent,UK</p>
                        <p><strong>Support Email : </strong> a019023m@student.staffs.ac.uk</p>
                    </div> -->
              </div>
            <!-- </div> -->

            <!-- <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">Opening Hours</h4>
                <ul class="pl-0 list-unstyled mb-5">
                  <li class="d-lg-flex justify-content-between">Monday-Friday <span>8.00-20.00</span></li>
                  <li class="d-lg-flex justify-content-between">Saturday <span>10.00-20.00</span></li>
                  <li class="d-lg-flex justify-content-between">Sunday <span>12.00-20.00</span></li>
                </ul>
  
                <h5>Call Now : 07438867659</h5>
              </div>
            </div> -->
         </div>
    </div>
  </footer>
  
  
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
             <div class="col-lg-12" style="justify-content: center; text-align: center;">
                 <p class="copyright mb-0 ">@ Copyright Reserved to <a href="http://www.fsr.ac.ma/">Doctoral School</a></p>
             </div>
         </div>
    </div>
  </div>