<br>
<br>
<br>
<h1 style="margin-left: 50px; font-size: 60px; color: #4169e1;">Physical Matter Sciences</h1>
<br>
<div style="margin-left: 50px; font-size: 18px;">
    <ul> 
        <li> Materials and nanomaterials </li> 
        <li> Thin layers </li> 
        <li> Mechanical </li> 
        <li>Energy and Renewable Energy (Conversion, Storage, etc.),</li>
        <li>High Temperature Materials (FGM)</li>
        <li>Modeling and simulation</li>
        <li>Condensed Matter and Interdisciplinary Sciences</li>
        <li>Electronics, Signals and Computers</li>
        <li>Electronics, Telecommunications, Operations research, Genetic algorithms, Image processing, Cryptography, Signal processing, Software engineering, Computer science</li>
        <li>Photovoltaic Conversion, Rechargeable Batteries and Materials for energy and storage</li>
        <li>Fluid and structural mechanics</li>
        <li>Mechanics of materials, composites and nanocomposites, fluid mechanics and structural mechanics for building and civil engineering</li>
        <li>Nuclear physics, reactor physics, environment, nuclear safety and radiation protection</li>
        <li>Physics of materials and nanomaterials</li>
        <li>Renewable energy, materials, geo-materials and building energy efficiency, geo-resources, science and energy teaching</li>
        <li>High Energy Physics, Field Theory, String Theory, Cryptography and Quantum Information, New Materials and Applications, Medical Physics and Environment</li>
        <li>Energy</li>
        <li>Science of Matter and Radiation</li>
    </ul> 
</div>
<br>
<br>
<br>