<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
    <div class="container">
      <a class="navbar-brand font-weight-bold" routerLink="/home"><img src="../../../../assets/images/doctoral.jpeg" style="width: 70px; height: 70px;">&nbsp;Doctoral School</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse " id="main-navbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Study Centres</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Research</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <button *ngIf="!isLoggedIn()" class="btn btn-main mt-3" routerLink="/register">Register</button>&nbsp;&nbsp;
        <button *ngIf="!isLoggedIn()" class="btn btn-main mt-3" routerLink="/login">Login</button>
        <!-- <button *ngIf="isLoggedIn()" class="btn btn-danger mt-3" (click)="logout()">Logout</button> -->
        <li *ngIf="isLoggedIn()" class="list-inline-item nav-item dropdown dropdown-slide">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" id="navbarDropdown5" aria-expanded="false" data-hover="dropdown">
            <i class="tf-ion-ios-person mr-4" style="font-size: 40px;"></i></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <li><a  routerLink="/home">Profile</a></li>
              <li *ngIf="isWish"><a routerLink="/modify-wish">Wishes</a></li>
              <li><a  style="color: red; cursor: pointer;"  (click)="logout()">Logout</a></li>
            </ul>
        </li>
      </div>
    </div>
  </nav>