<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
    <div class="container">
      <a class="navbar-brand font-weight-bold" routerLink="/home"><img src="../../../../assets/images/doctoral.jpeg" style="width: 70px; height: 70px;">&nbsp;DMS</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse " id="main-navbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Study Centres</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Research</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <button class="btn btn-main mt-3" routerLink="/register">Register</button>&nbsp;&nbsp;
        <button class="btn btn-main mt-3" routerLink="/login">Login</button>
      </div>
    </div>
  </nav>