<br>
<br>
<br>
<h1 style="margin-left: 50px; font-size: 60px; color: #4169e1;">Earth and Universe Sciences</h1>
<br>
<div style="margin-left: 50px; font-size: 18px;">
    <ul> 
        <li> Coastal geology, coastal risks, Marine geophysics, Seismotectonic geology </li> 
        <li> Water Sciences, Coastal Geosciences, Geomatics, Engineering Geology </li> 
        <li> Coastal Quaternary Geology, Basin Geodynamics, Oceanology, Paleoclimatology, Environment and Planning </li> 
        <li>Oceanology, geodynamics and geological engineering</li>
        <li>Geodynamics, geoinformation and geoenvironment</li>
        <li>Oceanology and geodynamics of sedimentary basins</li>
        <li>Applied geology: Natural resources, geological heritage and environment</li>
        <li>Mining resources and water resources</li>
        <li>Sedimentology and marine geology</li>
        <li>Biostratigraphy, geodynamics and geological heritage</li>
        <li>Geotourism, ecotourism and desert environments</li>
        <li>Geological risks</li>
        <li>Remote sensing</li>
        <li>Ancient and current paleo-environments</li>
    </ul> 
</div>
<br>
<br>
<br>