<br>
<br>
<br>
<h1 style="margin-left: 50px; font-size: 60px; color: #4169e1;">Applied Mathematics Sciences</h1>
<br>
<div style="margin-left: 50px; font-size: 18px;">
    <ul> 
        <li>Mathematics, Computer Science and Applications - Information Security </li> 
        <li>Fundamental and applied research in Mathematical Analysis </li> 
        <li>Mathematics, Statistics and Applications </li> 
        <li>Algebra, Functional analysis</li>
        <li>Statistics, stochastics, numerical calculation, differential equations</li>
        <li>Nonlinear analysis and applications to development issues</li>
        <li>Real and complex analysis, Hypercomplex analysis, Fourier analysis, Orthogonal polynomials and special functions, Interpolation and Sampling, Spectral geometry</li>
        <li>Algebra, geometry and applications</li>
        <li>Multi-level security of computer networks, security of emerging networks (mcc, sdn, sdmn, lte, etc.), data security in data warehouses and in intelligent environments, error correcting codes, cryptology and steganography</li>
        <li>Mathematical modeling and numerical simulation, combinatorial optimization and operational research, heuristic and meta-heuristic methods and their applications, delay models, numerical linear algebra, numerical methods for model reduction</li>
        <li>Applied Mathematics, Computer Science, Pattern Recognition, Artificial Intelligence, Telecommunications, Robotics</li>
    </ul> 
</div>
<br>
<br>
<br>