<br>
<br>
<br>
<h1 style="margin-left: 50px; font-size: 60px; color: #4169e1;">Doctoral training</h1>
<br>
<div style="margin-left: 50px; font-size: 18px; margin-right: 50px; text-align: justify;">
<p>Doctoral training at the Faculty of Sciences of Kénitra</p>
<p>The doctoral training offer is structured around 5 areas which offer doctoral students training as part of their research project and their professional project. Doctoral students are hosted in accredited laboratories and/or research teams within Ibn Tofail University.</p>
<p>Doctoral training provides national and international openness, in particular through the implementation of national co-supervision and international thesis co-supervision with Moroccan and/or foreign higher education or research establishments.</p>
<p>The Faculty of Sciences of Kenitra of Ibn Tofail University offers five doctoral courses including training specific to each field. Each doctoral program includes several specialties depending on the themes developed in its research laboratories and the needs of the region and the nation.</p>
<ul> 
    <li>Life and Environmental Sciences</li> 
    <li>Physics and applications</li> 
    <li>Earth Science</li> 
    <li>Fundamental and applied chemistry</li>
    <li>Mathematics, computer science and applications</li>
</ul> 
</div>