<br>
<br>
<br>
<h1 style="margin-left: 50px; font-size: 60px; color: #4169e1;">Life and health sciences</h1>
<br>
<div style="margin-left: 50px; font-size: 18px;">
    <ul> 
        <li> Ecology, Genetics, Parasitology, Marine biology, Ecotoxicology, Biodiversity and ecosystem functioning</li> 
        <li> Biochemistry, Pharmacology, Immunology, Virology, Oncology, Reproductive biology, Immunogenetics, Cancer biology, Molecular genetics, Phytotherapy, Cellular and molecular biology </li> 
        <li> Endocrinology, Cardiovascular and renal physiology, Neurosciences, Pharmacology, Immunology, Immunogenetics, Nutrition and health </li> 
        <li>Botany, Mycology, Algology, Phytopathology, Biosystematics, Ethnobotany, Ecology and Remote Sensing</li>
        <li>Plant Biotechnology, Physiology of abiotic stresses, Genetic improvement of plants, Plant Transgenesis</li>
        <li>Microbiology, Molecular Biology, Genomics, Bioinformatics, Biotechnologies</li>
    </ul> 
</div>
<br>
<br>
<br>