<br>
<br>
<br>
<mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile >
        <div class="grid-tile" routerLink="/presentation">
            <img src="./../../../../../assets/images/chemistry.png" width="300px" height="200px" alt="">
            <br>
            <br>
            <p>Organic Chemistry, Catalysis and Environment</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile >
        <div class="grid-tile">
            <img src="./../../../../../assets/images/chemistry1.png" width="300px" height="200px" alt="">
            <br>
            <br>
            <p>Advanced Materials and Process Engineering</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<br>