<br>
<br>
<br>
<h1 style="margin-left: 50px; font-size: 60px; color: #4169e1;">Material Sciences Chemistry</h1>
<br>
<div style="margin-left: 50px; font-size: 18px;">
    <ul> 
        <li> Materials, Energy, Catalysis, Corrosion, Nanotechnologies, Environment </li> 
        <li> Physical chemistry of materials</li> 
        <li> Study by spectroscopy and molecular modeling. </li> 
        <li>Recovery of waste and synthesis of nanomaterials for the depollution of water and soil.</li>
        <li>Material protection</li>
        <li>Organic and organometallic chemistry </li>
        <li>Organic chemistry, Plant chemistry.</li>
        <li>Heterocyclic Organic Chemistry. </li>
        <li>Organic and organometallic chemistry</li>
    </ul> 
</div>
<br>
<br>
<br>
