

<div class="container-fluid page" style="height: 93vh; overflow-y: auto;">

    <div class="text-center heading">
        <h1 class="mb-2">Final Validation</h1>
      </div>

    <div class="page__content shadow p-3 position-relative">
        <nav class="navbar">
          </nav>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th (click)="sort('course')">Course&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('phone')">Phone&nbsp;<i class="fa fa-sort"></i></th>
                <!-- <th (click)="sort('qulaification')">Qualification&nbsp;<i class="fa fa-sort"></i></th> -->
                <th>Department</th>
                <th>Establishment</th>
                <th>Status</th>
                  <th *ngIf="isDirector||isSuperAdmin">View</th>
                  <th *ngIf="isDirector||isSuperAdmin">Action</th>
                  <th *ngIf="isDirector||isSuperAdmin">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of wish | orderBy:key:reverse | paginate: {itemsPerPage:10,currentPage:p}; let i = index">
                <td>{{data.course.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phone}}</td>
                <!-- <td>{{data.qualification}}</td> -->

                <td>{{data.department}}</td>
                <td>{{data.establishment}}</td>
                <td>{{ data.status }}</td> 
                  <td *ngIf="isDirector||isSuperAdmin"><mat-icon (click)="reDirect(data.id)" style="color: blue; cursor: pointer;">visibility</mat-icon></td>
                  <td *ngIf="isDirector||isSuperAdmin"><button (click)="sendInvitation(data.email,data.name,'final_validation_by_director')" style="color: green; cursor: pointer;">Confirm</button></td>
                  <td *ngIf="isDirector||isSuperAdmin"><button (click)="sendInvitation(data.email,data.name,'final_rejection_by_director')" style="color: red; cursor: pointer;">Reject</button></td>
              </tr>
            </tbody>
  
          </table>
          <button  (click)="exportToExcel()" class="btn btn-small btn-secondary " style="float: right;">Download Excel</button>
          <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
        <br>
        <br>
    </div>

</div>

