<div id="main-content" class="container allContent-section py-4" style="height: 93vh; overflow-y: auto;">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-users  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Students</h4>
                <h2 style="color:white;">{{ studentsCount }}</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-user-friends  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Pre-Registered Students</h4>
                <h2 style="color:white;">{{ preRegisterStudensCount }}</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-user-friends  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Pre-Selected Students</h4>
                <h2 style="color:white;">{{ preSelectedStudensCount }}</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-user-friends  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Competition Passed Students</h4>
                <h2 style="color:white;">{{ passStudents }}</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-user-friends  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Competition Failed Students</h4>
                <h2 style="color:white;">{{ failedStudents }}</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-user-friends  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Thesis Director Validated Students</h4>
                <h2 style="color:white;">{{ thesisDirectorValidatedStudents }}</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-user-friends  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Thesis Director Rejected Students</h4>
                <h2 style="color:white;">{{ thesisDirectorRejectedStudents }}</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-user-friends  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Structure Manager Confirmed Students</h4>
                <h2 style="color:white;">{{ thesisDirectorValidatedStudents }}</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-user-friends  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Structure Manager Rejected Students</h4>
                <h2 style="color:white;">{{ thesisDirectorRejectedStudents }}</h2>
            </div>
        </div>
        <!-- <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-users  mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Total Squad</h4>
                <h2 style="color:white;">3</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <i class="fa fa-book mb-2" style="font-size: 70px;"></i>
                <h4 style="color:white;">Swimming Courses</h4>
                <h2 style="color:white;">5</h2>
            </div>
        </div> -->
        
    </div>    
</div>