<br>
<br>
<br>
<h1 style="margin-left: 50px; font-size: 60px; color: #4169e1;">Presentation</h1>
<br>
<div style="margin-left: 50px; font-size: 18px; margin-right: 50px; text-align: justify;">
<p>The Faculty of Sciences of Kenitra, Ibn Tofail University, has a Center for Doctoral Studies (CED Sciences and Techniques) bringing together, for its members, all the doctoral training accredited at the establishment.</p>
<p>The Faculty of Sciences of Kénitra relies on the College of the Center for Doctoral Studies, called the CED Council, to develop actions in favor of the attractiveness and visibility of doctoral training on a regional, national and international scale. , the integration of doctors and the recognition of diplomas. It has a common charter for doctoral training.</p>
<p>The CED Council aims to propose actions common to the 5 doctoral programs, to rationalize the offer in terms of additional doctoral training and to work on the preparation and monitoring of the professional integration of doctoral students and doctors.</p>
<p>The Faculty of Sciences, through its CED, has set itself the following objectives:</p>
<ul> 
    <li>harmonize the doctoral policies of the establishment, in harmony with the project of Ibn Tofail University;</li> 
    <li>support the doctoral student during their doctoral journey (from reception to the continuation of their professional career);</li> 
    <li>communicate the doctoral policy of Ibn Tofail University to students, supervisors and the socio-economic world;</li> 
    <li>consolidate the links between the CEDs and the economic fabric;</li>
    <li>strengthen the common international strategy.</li>
</ul> 

</div>