<br>
<br>
<br>
<h1 style="margin-left: 50px; font-size: 60px; color: #4169e1;">CED Sciences & Techniques training offers</h1>
<br>
<div style="margin-left: 50px; font-size: 18px; margin-right: 50px; text-align: justify;">
<p>The CED Sciences et Techniques manages research allocations financed by the Ministry of Higher Education and Scientific Research, thesis allocations financed by the Regions or national and international organizations.</p>
<p>To validate the doctoral diploma, the doctoral student, in conjunction with the research work, must follow additional training of 200 hours validated by his supervisor and the Director of the CED.</p>
<p>In addition to the modules offered by doctoral training, the establishments of Ibn Tofail University organize interdisciplinary training which is part of the complementary training of Doctoral students.</p>
<p>Doctoral training, linked to the research themes of doctoral students, offers transversal training based on the following objectives:</p>
<ul> 
    <li>provide doctoral students with quality research training;</li> 
    <li>help each doctoral student prepare their specific professional project taking into account their profile;</li> 
    <li>broaden the field of knowledge of each doctoral student by opening it to areas other than that of their own research;</li> 
    <li>facilitate exchanges of doctoral students between academic and industrial research centers, at the national and international level.</li>
</ul> 
<p>The additional training of doctoral students must integrate, in addition to the training organized by the CED, all activities which ensure the acquisition of complementary knowledge, experience and skills. These activities must be validated by the supervisor and the Director of the CED.</p>
</div>