
<br>
<br>
<br>
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 ">
        <p  style="font-size: 20px; text-align: justify;">
            As part of the promotion of scientific production, and in order to meet the needs of researchers at our university in terms of access to scientific journals, IMIST has initiated several subscription processes to specialized databases and has implemented establish a centralized platform for remote access to international electronic resources, such as:
        </p>
        <br>
            <a href="https://www.scopus.com/search/form.uri?display=basic#basic"><p><i class="fa fa-globe"></i>&nbsp;&nbsp;Scopus</p></a>
            <a href="https://mathscinet.ams.org/mathscinet/publications-search"><p><i class="fa fa-globe"></i>&nbsp;&nbsp;MathScinet</p></a>
            <a href="https://www.sciencedirect.com"><p><i class="fa fa-globe"></i>&nbsp;&nbsp;ScienceDirect</p></a>
            <a href="https://eressources.imist.ma/login"><p><i class="fa fa-globe"></i>&nbsp;&nbsp;Web of Science</p></a>
            <a href="https://eressources.imist.ma/login?qurl=https://www.cairn.info%2f"><p><i class="fa fa-globe"></i>&nbsp;&nbsp;Cairn</p></a>
            <a href="https://link.springer.com/search?facet-content-type=%22Book%22&facet-language=%22Fr%22"><p><i class="fa fa-globe"></i>&nbsp;&nbsp;Springer Ebooks</p></a>
            <a href="https://www.jstor.org/"><p><i class="fa fa-globe"></i>&nbsp;&nbsp;Jstor</p></a>
            <a href="https://www.jstor.org/site/primary-sources/"><p><i class="fa fa-globe"></i>&nbsp;&nbsp;Aluka</p></a>
        <br>
        <p style="font-size: 20px; text-align: justify;">
            For its part, the Ibn Tofail University of Kénitra subscribes to said bases in order to allow teacher-researchers, administrative staff, doctoral students and students to carry out bibliographic research and access scientific articles.
        </p>
        <br>
        <p style="font-size: 20px; text-align: justify;">
            To this end, we inform you that the eressources platform   https://eressources.imist.ma  is at your disposal. However, for a first use of the platform, any user must change their password via this link:  https://eressources.imist.ma:4433/?action=sendtoken .
        </p>
        <br>
        <p style="font-size: 20px; text-align: justify;">
            Furthermore, all users can connect using the institutional email address ( first name.last name@uit.ac.ma )   which must be retrieved via these links:
        </p>
        <br>
        <a href="https://recupmail.uit.ac.ma/"><p><i class='fas fa-user-friends'></i>&nbsp;&nbsp;For students</p></a>
        <a href="https://mailprof.uit.ac.ma/"><p><i class='fas fa-user-friends'></i>&nbsp;&nbsp;For teachers</p></a>
        <br>
        <p style="font-size: 20px; text-align: justify;">
            For more information, please find below the guide to accessing the basics of international publications.
        </p>
        <br>
        <a href="./../../../../assets/database.pdf"><button class="btn btn-primary float-right">Download</button></a>
    </div>

    <div class="col-sm-2">

    </div>
</div>
<br>
<br>